img{
    width: 80px;
    height: 80px;
    margin-bottom: 40px;

}
.serv{
    background: rgba(22, 82, 196, 0.747);
    border-radius: 30px;
    margin-bottom: 40px;

}
.para {
   margin-bottom: 40px;
   margin-left: 1440px;
}
   